$primary-color: #4caf50;
$bg-color: #f4f4f4;

body {
  font-family: Arial, sans-serif;
  background-color: #6A8886;
  margin: 0;
  padding: 0;
}

.container {
 
  margin: 2rem auto;
  padding: 1rem;
  
}

button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.todo-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-color: #ffffff;
  input,
  textarea {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.todo-list {
  display: flex; margin: 3px; gap: 30px;
  .todo-item {
    background: #E2D9CD;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    button {
      margin-top: 0.5rem;
      &:first-child {
        margin-right: 0.5rem;
      }
    }
  }
}
